<footer>
    <div id = "footer-content">
        <div id="contact">
            <a href = "https://github.com/abiramen" target="_blank">github: @abiramen</a><br>
            discord: @abiramen<br>
            println!("Email: {}@{}", "hello", "abiram.me");<br>
        </div>
        <div class="centre" id="love-and-ramen" style="margin-bottom: 0.5rem">made with <span class="icon">favorite</span> and ramen by Abiram</div>
        <img src="{{ "/assets/images/ramen-logo.png" | relURL }}" id = "ramen-footer" width = "75px" alt="logo">
        <div id="footer-flavour">Hmmm... we might have defeated the most basic of email scrapers. I bet AI would figure us out though.</div>
    </div>
</footer>
